spring:
  application:
    name: @name@
    description: @description@
  output:
    ansi:
      enabled: always

management:
  security:
    flag: false
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false

info:
  version: @version@
  stage: dev

server:
  port: @server.port@

client:
  ds:
    ssl:
      visa:
        trust-store: classpath:visa
        trust-store-password: visa
      mastercard:
        trust-store: classpath:mastercard
        trust-store-password: mastercard
      mir:
        trust-store: classpath:mir
        trust-store-password: mir
      test:
        trust-store: classpath:test
        trust-store-password: test
  three-ds-server-storage:
    url: http://changeit:8080
    timeout: 5000

storage:
  in-memory-only: true
  cache:
    rreq-transaction-info:
      size: 1000
    card-ranges:
      expiration-hours: 1

environment:
  message:
    message-version: "2.2.0"
    valid-message-versions: ["2.1.0","2.2.0"]
    p-message-version: "1.0.5"
  visa:
    ds-url: "visa"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "visa"
    three-ds-server-network-timeout: 10000
  mastercard:
    ds-url: "mastercard"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "mastercard"
    three-ds-server-network-timeout: 10000
  mir:
    ds-url: "mir"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "mir"
    three-ds-server-network-timeout: 10000
  test:
    ds-url: "test"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "test"
    three-ds-server-network-timeout: 10000