spring:
  application:
    name: @name@
    description: @description@
  output:
    ansi:
      enabled: always

management:
  security:
    flag: false
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false

info:
  version: @version@
  stage: dev

server:
  port: @server.port@

client:
  ds:
    ssl:
      visa:
        trust-store: classpath:visa
        trust-store-password: visa
      mastercard:
        trust-store: classpath:mastercard
        trust-store-password: mastercard
      mir:
        trust-store: classpath:mir
        trust-store-password: mir
      test:
        trust-store: classpath:test
        trust-store-password: test
  three-ds-server-storage:
    card-ranges:
      url: http://localhost:8022/three-ds-server-storage/card-ranges
      timeout: 5000
    challenge-flow-transaction-info:
      url: http://localhost:8022/three-ds-server-storage/challenge-flow-transaction-info
      timeout: 5000
  schedulator:
    url: http://changeit:8022/
    timeout: 5000

storage:
  mode: IN_MEMORY
  cache:
    challenge-flow-transaction-info:
      size: 1000
    card-ranges:
      expiration-hours: 1

platform:
  mode: TEST_PLATFORM

preparation-flow:
  schedule:
    executor-url: http://localhost:8022/three-ds-server-storage/scheduled-preparation-flow
    job-id-prefix: "three-ds-server.preparation-flow."
    revision-id: 16396
    scheduler-id: 64
    calendar-id: 1
  ds-provider:
    mastercard:
      enabled: false
      message-version: "2.1.0"
    visa:
      enabled: false
      message-version: "2.1.0"
    mir:
      enabled: false
      message-version: "2.1.0"

environment:
  message:
    message-version: "2.2.0"
    valid-message-versions: ["2.1.0","2.2.0"]
    p-message-version: "1.0.5" #todo remove
  visa:
    ds-url: "visa"
    three-ds-requestor-url: "visa"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "visa"
    three-ds-server-operator-id: "visa"
    three-ds-server-network-timeout: 10000
  mastercard:
    ds-url: "mastercard"
    three-ds-requestor-url: "mastercard"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "mastercard"
    three-ds-server-operator-id: "mastercard"
    three-ds-server-network-timeout: 10000
  mir:
    ds-url: "mir"
    three-ds-requestor-url: "mir"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "mir"
    three-ds-server-operator-id: "mir"
    three-ds-server-network-timeout: 10000
  test:
    ds-url: "test"
    three-ds-requestor-url: "test"
    three-ds-server-url: "https://3ds.rbk.money/ds"
    three-ds-server-ref-number: "test"
    three-ds-server-operator-id: "test"
    three-ds-server-network-timeout: 10000
