## @vtlvariable name="challengeFormData" type="com.rbkmoney.threeds.server.dto.ChallengeFormData"
<form name="ChallengeForm"
      action="$!challengeFormData.acsUrl"
      method="POST">
    <input type="hidden"
           name="creq"
           value="$!challengeFormData.encodeCreq"
    />
    <input type="hidden"
           name="threeDSSessionData"
           value="$!challengeFormData.threeDsSessionData"
    />
</form>