## @vtlvariable name="challengeFormData" type="com.rbkmoney.threeds.server.dto.ChallengeFormData"
<form name="ChallengeForm"
      action="$!challengeFormData.acsURL"
      method="POST">
    <input type="hidden"
           name="creq"
           value="$!challengeFormData.encodeCReq"
    />
    <input type="hidden"
           name="threeDSSessionData"
           value="$!challengeFormData.threeDSSessionData"
    />
</form>
