## @vtlvariable name="threeDsMethodFormData" type="com.rbkmoney.threeds.server.dto.ThreeDsMethodFormData"
<!DOCTYPE html>
<html>
<body>

<h2>RBK.money 3D Secure Method Form</h2>

<form id="rbkMoneyThreeDsMethodForm" name="ThreeDsMethodForm"
      action="$!threeDsMethodFormData.threeDsMethodUrl"
      method="POST">
    <input type="hidden"
           name="threeDSMethodData"
           value="$!threeDsMethodFormData.encodeThreeDsMethodData"
    />
</form>

<script>
    document.getElementById("rbkMoneyThreeDsMethodForm").submit()
</script>
</body>
</html>
